* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 8rem auto;
    position: relative;
    z-index: 0;
}

.background #bg {
    width: 600px;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    height: auto;
    width: 100%;
    height: auto;

    background: #d4612c;
    background: -webkit-linear-gradient(169deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    background: -moz-linear-gradient(169deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    background: linear-gradient(169deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D4612C", endColorstr="#203C80", GradientType=0);
}

.nav-item {
    cursor: pointer;
    transition: 1s ease all;
    gap: 15px;
    width: auto;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    &:hover {
        color: #ffb866;
    }
}

#logo-anima {
    width: 120px;
    position: relative;
    top: 7rem;
}

#suporte-img {
    width: 200px;
    position: relative;
    z-index: 0;
    top: -5rem;
}

.modal-btn {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.ft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;

    background: #d4612c;
    background: -webkit-linear-gradient(350deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    background: -moz-linear-gradient(350deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    background: linear-gradient(350deg, rgba(212, 97, 44, 1) 5%, rgba(199, 126, 87, 1) 32%, rgba(32, 60, 128, 1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D4612C", endColorstr="#203C80", GradientType=0);
    color: white;
    position: relative;
    bottom: -4.5rem;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        margin: -2rem auto;
        position: relative;
        z-index: 0;
    }
    
    .background #bg {
        width: 340px;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .menu {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        height: 100px;
    }

    .nav-item a {
        text-decoration: none;
        color: white;
        font-size: .8rem;
    }

    #logo-anima {
        width: 60px;
        position: relative;
        top: 4rem;
    }
    
    #suporte-img {
        width: 150px;
        position: relative;
        z-index: 0;
        top: -3rem;
    }
    
    .ajuda {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
    }
    
    #ajuda-img {
        width: 300px;
    }

    .rodape {
        position: relative;
        bottom: -5rem;
    }
}